// Colors
$primary: #053c5e;
$secondary: #db222a;
$body-bg: $primary;
$body-text: #dcdcdc;
$gradient: linear-gradient(180deg, #db222a 0%, #643047 100%);

// Sizes
$mobile: 35.9375rem;
$tablet: 48rem;
$desktop: 61.9375rem;
